.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 5vw;
}

.app-header a{
  padding: 5px;
  list-style: none;
  text-decoration: none;
  color: white;
}

.app-header a :hover{
  color: rgb(106, 157, 201);
}

.app-body {
  background-color: #f1f0f0;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(88, 83, 83);
}

.container{
  display: flex;
  flex-direction: column;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}